#header{
    background-color: black;
    width: 100%;
    height: 100px;
    font-weight: bold;
}
.header{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding-top: 20px;
    color: black;
    font-weight: bold;
}
.input-group{
    margin-bottom: 20px;
}
#cities-div{
    background-color: #e1e7f0;
    width: 100%;
    border-right: 5px solid black;
}
#weather-div{
    width: 100%;
    height: 350px;
    border: 1px solid gray;
    margin-top: 20px;
    border-radius: 10px;
}
.center{
    position: inline;
    margin: 0 auto;
    width: 50%;
}
.city{
    background-color: #babdc2;
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    visibility: hidden;
}
p{
    margin-left: 20px;
}
.weather-div-text{
    margin-left: 20px;
    margin-top: 20px;
}
img{
    height: 120px;
    width: 120px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #ccd4e0;
}
.info{
    margin-left: 40px;
}
.forecast-div{
    background-color: blue;
    width: 150px;
    height: 170px;
    border-radius: 10px;
}
.five-date{
    position: inline;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
}
.five-day-img{
    margin-top: 1px;
    width: 40px;
    height: 40px;
}
.fiveInfo{
    color: white;
    font-weight: bold;
    font-size: 12px;
}
#uv-output{
    color: white;
    text-align: center;
    margin-right: 35px;
    margin-top: 12px;
    height: 25px;
}
#uv-div{
background-color: red;
border-radius: 3px;
width: 60px;
margin-left: 15px;
}